name: Auto Api E5

on:
  release:
    types: [published]
  push:
    tags:
      - "v*"
  schedule:
    - cron: "12 */6 * * *"
  watch:
    types: [started]

jobs:
  auto:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id # 自己点的 start
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      # 默认安装有 python 环境
      - name: Install requests
        run: |
          pip3 install requests
      - name: Test Api
        env:
          ID: ${{ secrets.APP_ID }}
          SECRET: ${{ secrets.APP_SECRET }}
        run: |
          echo `date +"%Y-%m-%d %H:%M:%S"` begin > time.log
          python3 auto.py -i $ID -s $SECRET
      # 上传新的 refresh_token 到仓库
      - name: Commit New Refresh Token
        run: |
          git pull
          git config --global user.email AutoUpdateRobot@xxx.com
          git config --global user.name AutoUpdateRobot
          git add .
          git commit -m "update new refresh_token" -a
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        env:
          TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          github_token: $TOKEN
          branch: main
